<div class ="container">
    <div class="row">
        <!--HEADER-->
        <div class="col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
            

                <!--TIME BLOCKS-->
                {{#dates}}
                    <div class="container">
                        <div id="title" class="row title-block">
                            <h2 id="dayTitle">{{this.date}}</h2>
                        </div>
                        <div id="9" class="row time-block">
                            <div class="col-md-1 hour">9AM</div>
                                <p  id="adInput" class="col-md-10 adventure" placeholder="Add an adventure!">{{this.adventure}}</p>
                            <button class="deleteBtn btn btn-danger btn-lg float-right" data-id="{{id}}">DELETE</button>
                            <button id="addBtn" class="btn addBtn col-md-1"><i class="fas fa-plus"></i></button>
                        </div>
                        <div id="10" class="row time-block">
                            <div class="col-md-1 hour">10AM</div>
                                <p  id="adInput" class="col-md-10 adventure" placeholder="Add an adventure!">{{this.adventure}}</p>
                            <button id="addBtn" class="btn addBtn col-md-1"><i class="fas fa-plus"></i></button>
                        </div>
                        <div id="11" class="row time-block">
                            <div class="col-md-1 hour">11AM</div>
                                <p  id="adInput" class="col-md-10 adventure" placeholder="Add an adventure!">{{this.adventure}}</p>
                            <button id="addBtn" class="btn addBtn col-md-1"><i class="fas fa-plus"></i></button>
                        </div>
                        <div id="12" class="row time-block">
                            <div class="col-md-1 hour">12PM</div>
                                <p  id="adInput" class="col-md-10 adventure" placeholder="Add an adventure!">{{this.adventure}}</p>
                            <button id="addBtn" class="btn addBtn col-md-1"><i class="fas fa-plus"></i></button>
                        </div>
                        <div id="13" class="row time-block">
                            <div class="col-md-1 hour">1PM</div>
                                <p  id="adInput" class="col-md-10 adventure" placeholder="Add an adventure!">{{this.adventure}}</p>
                            <button id="addBtn" class="btn addBtn col-md-1"><i class="fas fa-plus"></i></button>
                        </div>
                        <div id="14" class="row time-block">
                            <div class="col-md-1 hour">2PM</div>
                                <p  id="adInput" class="col-md-10 adventure" placeholder="Add an adventure!">{{this.adventure}}</p>
                            <button id="addBtn" class="btn addBtn col-md-1"><i class="fas fa-plus"></i></button>
                        </div>
                        <div id="15" class="row time-block">
                            <div class="col-md-1 hour">3PM</div>
                                <p  id="adInput" class="col-md-10 adventure" placeholder="Add an adventure!">{{this.adventure}}</p>
                            <button id="addBtn" class="btn addBtn col-md-1"><i class="fas fa-plus"></i></button>
                        </div>
                        <div id="16" class="row time-block">
                            <div class="col-md-1 hour">4PM</div>
                                <p  id="adInput" class="col-md-10 adventure" placeholder="Add an adventure!">{{this.adventure}}</p>
                            <button id="addBtn" class="btn addBtn col-md-1"><i class="fas fa-plus"></i></button>
                        </div>
                        <div id="17" class="row time-block">
                            <div class="col-md-1 hour">5PM</div>
                                <p  id="adInput" class="col-md-10 adventure" placeholder="Add an adventure!">{{this.adventure}}</p>
                            <button id="addBtn" class="btn addBtn col-md-1"><i class="fas fa-plus"></i></button>
                        </div>
                        <div id="18" class="row time-block">
                            <div class="col-md-1 hour">6PM</div>
                                <p  id="adInput" class="col-md-10 adventure" placeholder="Add an adventure!">{{this.adventure}}</p>
                            <button id="addBtn" class="btn addBtn col-md-1"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                {{/dates}}
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>